
.hamburger {
    float: left;
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 13px 0 14px 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    transform: scale(0.6);
    transform-origin: center left;
}

.hamburger-box {
    position: relative;
    display: block;
    width: 40px;
    height: 24px;
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #50504f;
}

#menu-toggle.active .hamburger .hamburger-inner,
#menu-toggle.active .hamburger .hamburger-inner:after,
#menu-toggle.active .hamburger .hamburger-inner:before {
    background-color: #50504f;
}

.hamburger-inner:after,
.hamburger-inner:before {
    display: block;
    content: "";
}

.hamburger-inner:before {
    top: -10px;
}

#menu-toggle.active .hamburger .hamburger-inner:before {
    transform: translate3d(8px,0,0) rotate(45deg) scaleX(.7);
}

.hamburger-inner:after {
    bottom: -10px;
}

#menu-toggle.active .hamburger .hamburger-inner:after {
    transform: translate3d(8px,0,0) rotate(-45deg) scaleX(.7);
}

.navbar .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}


.navbar-toggler {
    border:none !important;
    font-size: 25px !important;
}