.webinar-noclick{
    position: relative;
    display: flex;
    justify-content: center;
}

.noclick-container{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.noclick-container.active{
    background-color: #fff;
    opacity: .5;
}

.noclick-message{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #fff;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0px 2px 20px #0000000f;
    transition: .2s linear;
    display: none;
}

.noclick-message.active{
    display: block;
}