.social-link {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 2rem;
    transition: .2s linear;
}

.about-us .social-link{
    color: #000;
}

.social-link:hover{
    opacity: .7;
}