#sidebar-wrapper .navbar-nav .nav-link{
    width: 100%;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
}

#sidebar-wrapper .navbar-nav .nav-link:hover{
    background: #e58787;
}

#sidebar-wrapper .navbar-nav .my-account .nav-link,
#sidebar-wrapper .navbar-nav .account .nav-link{
    border-bottom: 1px solid #ffffff;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 16px;
}

#sidebar-wrapper .navbar-nav .my-account .nav-link {
    padding-top: 22px;
    padding-bottom: 22px;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .nav {
    width: 15rem;
    overflow: hidden;
}

#page-content-wrapper {
    min-width: 100vw;
    position: relative;
}

.wrapper.toggled #page-content-wrapper:before {
    content: '';
    position: absolute;
    z-index: 2080;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: default;
}

.wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
