
.teacher {
    margin-bottom: 20px;
}

.teacher img {
    width: 38px;
    height: 38px;
    object-fit: cover;
    border-radius: 50%;
}

.teacher--name {
    margin-top: 6px;
    margin-left: 15px;
}