.sticky_cta {
    padding: 15px;
    text-align: center;
    border: 1px solid;
    border-radius: 27px;
    position: sticky;
    position: -webkit-sticky;
    top: 10rem;
}

.sticky_cta__btn {
    display: inline-block;
}