@font-face {
  font-family: 'bstz';
  src:  url('fonts/bstz.eot?uz9yj');
  src:  url('fonts/bstz.eot?uz9yj#iefix') format('embedded-opentype'),
    url('fonts/bstz.ttf?uz9yj') format('truetype'),
    url('fonts/bstz.woff?uz9yj') format('woff'),
    url('fonts/bstz.svg?uz9yj#bstz') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bstz-"], [class*=" bstz-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bstz' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bstz-person:before {
  content: "\e90a";
}
.bstz-home:before {
  content: "\e909";
}
.bstz-minus:before {
  content: "\ea0b";
}
.bstz-check:before {
  content: "\e908";
}
.bstz-time:before {
  content: "\e905";
}
.bstz-camera:before {
  content: "\e906";
}
.bstz-double-arrow:before {
  content: "\e904";
}
.bstz-double-arrow-back:before {
  content: "\e907";
}
.bstz-linkedin:before {
  content: "\e900";
}
.bstz-facebook:before {
  content: "\e901";
}
.bstz-youtube:before {
  content: "\e902";
}
.bstz-twitter:before {
  content: "\e903";
}
