icomoon-font-path ?= "fonts"

bstz-linkedin = "\e900"

bstz-facebook = "\e901"

bstz-youtube = "\e902"

bstz-twitter = "\e903"

bstz-double-arrow = "\e904"

bstz-double-arrow-back = "\e907"

bstz-camera = "\e906"

bszt-time = "\e905"

bszt-check = "\e908"

bszt-minus = "\ea0b"

bstz-home = "\e909"

bstz-person = "\e90a"