.circles-container {
    height: 475px;
    position: absolute;
    top: -3rem;
    right: 0;
}

.circles-container-mobile{
    position: absolute;
    top: -17rem;
    right: -4.5rem;
}

.row-one{
    padding-top: 6rem;
}

.row-two{
    padding-top: 3rem;
}

.row-three{
    padding-top: 2rem;
}

.row-one-mobile{
    padding-top: 18.5rem;
}

.row-two-mobile{
    padding-top: 5rem;
}

.row-four .circle{
    margin-right: 0;
}

.circle{
    border: 3px solid;
    border-radius: 50px;
    display: flex;
    margin: 5px 10px;
}

.circle.orange, .circle.orange .circle-inside{
    border-color: #FF6400;
}

.circle.white, .circle.white .circle-inside{
    border-color: #FFF;
}

.circle.black, .circle.black .circle-inside{
    border-color: #000;
}

.circle.blue, .circle.blue .circle-inside{
    border-color: #0000AE;
}

.circle.orange.filled .circle-inside{
    box-shadow: 0px 0px 0px 2000px #FF6400;
}

.circle.white.filled .circle-inside{
    box-shadow: 0px 0px 0px 2000px #FFF;
}

.circle.filled{
    overflow: hidden;
    border: none;
}

.circle.image{
    border: none;
    background-size: cover;
}

.circle.small{
    width: 5rem;
    height: 5.5rem;
}

.circle.medium{
    width: 5rem;
    height: 8rem;
}

.circle.large{
    width: 5rem;
    height: 9.5rem;
}

.circle.extra-large{
    width: 5rem;
    height: 14rem;
}

.circle.faded{
    opacity: .25;
}

.circle-inside{
    width: 40%;
    height: 50%;
    border: 3px solid;
    border-radius: 50px;
    margin: auto;
}

.d-flex.flex-column{
    flex-direction: column;
}

@media (max-width: 772px){
    .image-circles{
        padding-bottom: 7rem;
    }
}