.slider-image{
    max-width: 10rem;
    max-height: 5.5rem;
    object-fit: contain;
}

.partners-slider .slick-dots{
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.partners-slider .slick-dots li{
    position: relative;
}

.partners-slider .slick-dots li button{
    background-color: transparent;
    border: none;
    color: transparent;
}

.partners-slider .slick-dots li::before{
    content: '';
    position: absolute;
    width: .75rem;
    height: .75rem;
    border: 4px solid #BEBEBE;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: .2s linear;
}

.partners-slider .slick-dots li.slick-active::before, .partners-slider .slick-dots li:hover::before{
    border-color: #000;
}

.partners-slider .slick-list{
    padding-top: 1rem;
    padding-right: 6.5rem;
    margin-right: -6.5rem;
    padding-left: 6.5rem;
    margin-left: -6.5rem;
    padding-bottom: 1.5rem;
    position: relative;
    z-index: 1;
}