
.blog_article__content_holder {
    border-radius: 21px;
    box-shadow: 0px 2px 20px #0000000f;
    display: block;
}

.blog_article__content_holder__image {
    overflow: hidden;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    position: relative;
}

.blog_article__content_holder__image img{
    height: 235px;
    max-height: 235px;
    width: 100%;
    object-fit: cover;
    position: relative;
    transition: all .2s ease-in-out;
}

.blog_article__content_holder:hover .blog_article__content_holder__image img {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.blog_article__content_holder__author_date img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    margin: auto 0.5rem auto 0;
}

.terms {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.terms__block {
    color: #FF6300;
    transition: .2s linear;
    border-radius: 13px;
    padding: 0.25rem 1rem;
    cursor: pointer;
    margin-right: 0.5rem;
    display: inline-block;
}

.terms__block:hover {
    color: #fff;
    background-color: #FF6300;
}

.terms__block--active {
    color: #fff;
    background-color: #FF6300;
    transition: .2s linear;
    border-radius: 13px;
    padding: 0.25rem 1rem;
    cursor: pointer;
    margin-right: 0.5rem;
    display: inline-block;
}

.pagination .page-numbers {
    padding:5px;
    border:1px solid #000000;
}

.pagination .page-numbers.current {
    color: #fff;
    background-color: #FF6300;
    border:1px solid #FF6300;
}

.loop-container.loading {
    opacity: 0.7;
}

.loop-container .loader-image {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.loop-container .loader-image img {
    width: 40px;
    height: 40px;
}

.loop-container.loading .loader-image {
    display: block;
}

.blog_article__content_holder__image__categories {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    padding: .5rem;
}

.blog_article__content_holder__image__categories span {
    background-color: #fff;
    border-radius: 9px;
    padding: 0.2rem 1rem;
    font-size: 10px;
}