.video_frame__subscribe {
    padding: 25px;
    text-align: center;
    border: 1px solid;
    border-radius: 27px;
    min-height: 318px;
}

.video_frame__subscribe__btn {
    display: inline-block;
}

.btn-orange-outlined {
    background-color: #fff;
    border: 2px solid #FF6400;
    color: #FF6400;
    text-align: center;
    padding: 0.4rem 0.9rem;
    border-radius: 25px;
    opacity: 1;
    transition: .2s linear;
    font-size: 14px;
}