.usps--lessons {
    display: inline;
}

.usps--lessons svg {
    display: inline-block;
}
.usps--lessons h3 {
    display: inline-block;
    font-size: 24px !important;
    margin-left: 10px;
}

.usps--duration {
    display: inline;
}

.usps--duration {
    margin-left:30px;
}

.usps--duration svg {
    display: inline-block;
}

.usps--duration h3 {
    display: inline-block;
    font-size: 24px !important;
    margin-left: 10px;
}

.usps--grade {
    display: inline-flex;
    margin-left: 30px;
    position: relative;
    padding: 7px 15px;
    border: 2px solid #FF6400;
    border-radius: 30px;
}

.usps--grade svg {
    display: inline-block;
}

.usps--grade h3 {
    display: inline-block;
    font-size: 24px !important;
    margin-left: 10px;
    color:#FF6400;
    margin-bottom: 0px !important;
    line-height: 0.9;
}


@media (max-width: 772px) {

    .usps {
        text-align: center;
        margin-bottom: 20px;
    }

    .usps--lessons h3 {
        font-size: 16px !important;
    }

    .usps--lessons svg {
        height: 14px;
    }

    .usps--duration {
        margin-left: 15px;
    }

    .usps--duration h3 {
        font-size: 16px !important;
    }

    .usps--duration svg {
        height: 14px;
    }

    .usps--duration {
        margin-left: 15px;
    }

    .usps--grade h3 {
        font-size: 16px !important;
        margin-left: 5px;
    }

    .usps--grade svg {
        height: 14px;
    }
    
}