.subscription-card{
    width: 15rem;
    height: auto;
    background-color: #fff;
    border-radius: 103px;
    box-shadow: 0px 9px 27px #ACA78A34;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.subscription-card.smaller{
    padding: 2rem 1rem;
}

.subscription-card.large{
    padding: 4rem 1rem;
}

.subscription-card--list{
    list-style: none;
    padding: 0;
    font-size: 14px;
}

.subscription-card--list .plus i{
    color: #FF6400;
}

.subscription-card--list .min{
    color: #BEBEBE;
}

.subscription-card--list i{
    font-size: 12px;
    padding-right: .5rem;
}

.btn-orange-outlined{
    background-color: #fff;
    border: 2px solid #FF6400;
    color: #FF6400;
    text-align: center;
    padding: .4rem .9rem;
    border-radius: 25px;
    opacity: 1;
    transition: .2s linear;
    font-size: 14px;
}

.btn-orange-outlined:hover, .btn-blue:hover{
    opacity: .7;
}

.btn-blue{
    background-color: #0000AE;
    border: 2px solid #0000AE;
    color: #fff;
    text-align: center;
    padding: .4rem .9rem;
    border-radius: 25px;
    opacity: 1;
    transition: .2s linear;
    font-size: 14px;
}

.cream-overlay::after{
    content: '';
    width: 100%;
    height: 39%;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #FAFAF5;
}

.subscriptions{
    position: relative;
}

.subscriptions::before{
    left: 0;
    top: 0;
    content: url(https://boostznl-w107c2.preview.wpmanaged.nl/wp-content/uploads/2021/11/sub-circle-left.png);
    width: 13.75rem;
    height: 18.75rem;
    position: absolute;
    transform: translate(-100%, -30%);
    -webkit-transform: translate(-100%, -30%);
    opacity: .3;
}

.subscriptions::after{
    right: 0;
    top: 0;
    content: url(https://boostznl-w107c2.preview.wpmanaged.nl/wp-content/uploads/2021/11/sub-circle-right.png);
    width: 13.75rem;
    height: 18.75rem;
    position: absolute;
    transform: translate(100%, -75%);
    -webkit-transform: translate(100%, -75%);
    opacity: .3;
}

@media (max-width: 992px){
    .subscriptions::before, .subscriptions::after{
        display: none;
    }
}