.nav-tabs li{
    padding: 5px 10px;
    border-radius: 25px;
    transition: .2s linear;
    cursor: pointer;
}

.nav-tabs li.active, .nav-tabs li:hover{
    background-color: #0000AE;
    color: #fff;
}

.mijn-acount .gfield {
    margin: 0 !important;
}

.mijn-acount .gform_footer{
    padding: 0 !important;
}