.review-card--content{
    padding-right: 10%;
}

.review-card--person-card{
    background-color: #FF6400;
    width: 10rem;
    height: 16rem;
    border-radius: 85px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.review-card img{
    width: 3.25rem;
    height: 2.4rem;
    object-fit: contain;
}

.review-card--person-card img{
    width: 8rem;
    height: 9rem;
    border-radius: 85px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.review-slider-container .slick-dots{
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.review-slider-container .slick-dots li{
    position: relative;
}

.review-slider-container .slick-dots li button{
    background-color: transparent;
    border: none;
    color: transparent;
}

.review-slider-container .slick-dots li::before{
    content: '';
    position: absolute;
    width: .75rem;
    height: .75rem;
    border: 4px solid #BEBEBE;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: .2s linear;
}

.review-slider-container .slick-dots li.slick-active::before, .review-slider-container .slick-dots li:hover::before{
    border-color: #000;
}

.review-slider--title{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

@media (max-width: 772px){
    .review-slider--title{
        position: static;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }

    .review-slider-container{
        padding-bottom: 2rem;
    }
}