.lessons-loop {
    max-height: 315px;
    overflow-y: scroll;
    border-radius: 21px;
    height: 100%;
    overflow-x: hidden;
    box-shadow: 0px 1px 5px #888888;
}

.lesson-loop--row {
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: .1s linear;
}

.lesson-loop--row:nth-child(even) {
    background-color: #000000;
}

.lesson-loop--row:nth-child(odd) {
    background-color: #000000b2;
}

.lesson-loop--row.active.current, .lesson-loop--row.active:hover {
    background-color:#fff;
    text-decoration: underline;
    color: #FF6400;
}

.lesson-loop--row svg circle {
    stroke: #fff;   
    transition: .1s linear;
}

.lesson-loop--row svg path {
    fill: #fff;
    transition: .1s linear;
}

.lesson-loop--row.active.current svg path, .lesson-loop--row.active:hover svg path{
    fill: #FF6400;
}

.lesson-loop--row.current svg circle, .lesson-loop--row.active:hover svg circle{
    stroke: #FF6400;
}

.lesson-loop--row svg {
    margin-left:20px;
    height:20px;
}

.course-video-frame, .video-frame-holder {
    margin-bottom: 18px;
    min-height: 318px;
}

.course-video-frame iframe {
    width: 100%;
}

.video-frame-holder video {
    width: 100%;
    height: 100%;
    min-height: 318px;
    object-fit: cover;
    border-radius: 21px;
}