/*
Theme Name: Dummy
Theme URI: https://www.maatwerkonline.nl
Version: 1.0.0
Author: Maatwerk Online
Author URI: https://www.maatwerkonline.nl/contact/
Description: This Theme is designed and developed by Maatwerk Online
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: maatwerkonline
Domain Path: /languages
*/

/*
Register all your vars in the theme.json file of the theme.
You can then receive them with the var() function like this:
    var(--wp--custom--header--content-size);
for a var in the theme.json that is added lik this:
    "custom": {
        "header" : {
            "contentSize": "1240px"
        },
    }
*/

/* Add you own custom font here */
@font-face {
  font-family:"loos-compressed";
  src:url("assets/fonts/loos-compressed.woff") format("woff");
  font-display:auto;
  font-style:normal;
  font-weight:400;
}

@font-face {
  font-family:"loos-compressed";
  src:url("assets/fonts/loos-compressed.woff") format("woff");
  font-weight:bold;
}

@font-face {
  font-family:"loos-compressed-light";
  src:url("assets/fonts/loos-compressed-light.woff") format("woff");
  font-display:auto;
  font-style:normal;
  font-weight:200;
}

body {
  font-family: "loos-compressed";
  background-color: #fff;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .7px;
}

strong {
  font-family:"loos-compressed";
}

p, li{
  letter-spacing: .2px;
  font-family: "loos-compressed-light";
}

.editor-styles-wrapper {
  font-family: "loos-compressed";
}

#post-entries {
  display:none;
}

/* Default Header */
#header .navbar {
  width: 100%;
}

#header .navbar .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#wrapper {
  display: flex;
  overflow: hidden;
}

#sidebar-wrapper .navbar-nav .my-account .nav-link,
#sidebar-wrapper .navbar-nav .account .nav-link {
  background: #283137;
  border-bottom: 1px solid #212b2f;
  padding-top: 18px;
  padding-bottom: 18px;
}

#sidebar-wrapper .navbar-nav .my-account .nav-link {
  padding-top: 22px;
  padding-bottom: 22px;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .nav {
  width: 15rem;
  overflow: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
  position: relative;
}

/* #wrapper.toggled #page-content-wrapper:before {
  content: "";
  position: absolute;
  z-index: 2080;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
} */

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
    z-index: 99;
    background-color: #fff;
    position: fixed;
    top: 0;
    padding-top: 1rem;
}

.navbar-brand img {
  height: 50px;
  width: auto;
}
.navbar-nav {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.lead-header{
  background-color: #E8E3C2;
  padding-top: 2rem;
}

#header .navbar .navbar-nav a{
  font-family: 'loos-compressed';
}

#header .navbar-nav li {
  margin: 0;
  padding: 0;
}

#header .navbar-nav li:last-child {
  padding-right: 0;
}

#header .navbar-nav li .nav-link {
  color: currentColor;
  font-size: var(--wp--custom--header--menu--font-size);
  text-transform: var(--wp--custom--header--menu--text-transform);
}

#header .navbar-nav li .nav-link:hover, #header .navbar-nav li.current-menu-item .nav-link {
  color: #000;
  text-decoration: underline;
} 

#footer{
  background-color: #000;
  color: #fff;
  padding: 2.5rem;
  cursor: default;
}

#footer .container{
  width: 1064px;
  margin: auto;
  box-sizing: border-box;
}

.footer-trademark{
  background-color: #333;
}

#footer .footer-logo{
  width: 55%;
  padding-bottom: 2rem;
}

.footer-nav i.bstz-double-arrow{
  font-size: .5rem;
  padding-right: .3rem;
}

.footer-nav a{
  transition: .2s linear;
  text-decoration: underline;
}

.footer-nav a:hover{
  opacity: .7;
}

.header-border{
  border-radius: 0 0 0 200px/100px;
}

.wp-block-button__link i, .btn-white i, .btn-orange-outlined i, .btn-blue i{
  font-size: 12px;
  letter-spacing: .2px;
  padding-left: .3rem;
}

*:focus-visible{
  outline: none;
}

.side-shape{
  position: relative;
}

.side-shape::before{
  content: url(https://boostznl-w107c2.preview.wpmanaged.nl/wp-content/uploads/2021/11/MicrosoftTeams-image-5.png);
  position: absolute;
  left: -3rem;
  top: 2rem;
  transform: translateX(-100%);
  -wekbit-transform: translateX(-100%);
  z-index: -1;
}

.corner-shape {
  background-image: url('https://boostznl-w107c2.preview.wpmanaged.nl/wp-content/uploads/2021/12/corner-shape.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 180px;
}

@media (max-width: 992px) {
  .corner-shape {
    background-image: unset;
    display: none;
  }
  .navbar-brand{
    padding-left: 1rem;
  }
  .admin-bar #wrapper.toggled #sidebar-wrapper{
    top: 46px;
  }
  .wp-block-group.has-background{
    padding: 2rem 0;
  }
}

.collect-nav p i{
  font-size: .5rem;
}

.collect-nav p a {
  text-decoration: underline;
}

.collect-nav p a, .collect-nav p i{
  transition: .2s linear;
}

.collect-nav p:hover a, .collect-nav p:hover i{
  opacity: .3;
}

@media (max-width: 772px){
  #custom_html-3.footer-nav{
      padding-top: 3.5rem;
  }

  #footer .container{
    width: 100%;
  }

  #footer .footer-logo img{
    width: auto;
    height: 3.5rem;
  }
}


/* Single Course */

iframe {
  border-radius: 21px;
}

.text-white{
  color: #fff !important;
}

.admin-bar .white-header{
    top: 32px;
}

.white-header{
  box-shadow: 0px 2px 20px #0000000B;
  position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    max-width: 100vw;
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (max-width:772px){
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.75rem;
  }
  h4{
    font-size: 1.55rem;
  }
}

/* Single Blog */

.post-meta .author-time {
  border-bottom: 1px solid #FF6400;
  width: 100%;
  background-color: #FF6400;
  border-radius: 50px;
  margin-bottom: 20px;
}

.post-meta .author-time img{
  border-radius: 50px;
  margin-left: 10px;
  margin-top: 4px;
}

.nav-link{
  transition: .2s linear;
}

.nav-link:hover, .active .nav-link{
  text-decoration: underline;
}

.gform_show_password{
  position: absolute !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.wp-block-image.is-style-circle-mask img, .wp-block-image.is-style-rounded img{
  border-radius: 25px !important;
}

/* the mobile menu bars */
.menu-bars {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
}

.menu-bar {
  width: 34px;
  height: 5px;
  background-color: black;
  border-radius: 25px;
  margin: .2rem 0;
  transition: margin .2s linear;
}

.menu-bar-1, .menu-bar-3 {
  margin-left: auto;
}

.menu-bar-2 {
  margin-right: .4rem;
}

#menu-toggle.active .menu-bars .menu-bar-1, #menu-toggle.active .menu-bars .menu-bar-3 {
  margin-left: 0;
}

#menu-toggle.active .menu-bars .menu-bar-2 {
  margin-right: 0;
  margin-left: .4rem;
}

#sidebar-wrapper .navbar-nav{
  flex-direction: column;
}

.list-unstyled{
  padding-left: 0 !important;
  list-style: none !important;
}

/* .course-template-default{
  margin: 0 !important;
} */

.about-us-links a{
  text-decoration: underline;
  color: #000;
  transition: .2s linear;
}

.about-us-links a:hover{
  opacity: .6;
}

.social-links a{
  text-decoration: none;
}

#jou-en-je-onderneming, #welkom-op-het-ondernemersplatform-voor-een-boost-voor, #ondernemersplatform, #welkom-op-het-ondernemersplatform-voor-een-boost-voor {
  z-index: 1;
  position: relative;
}

.no-click {
  pointer-events: none !important;
  cursor: default !important;
}

body.course{
  margin-bottom: 0 !important;
}