.spotlight-card{
    position: relative;
    background-color: #FF6400;
    border-radius: 100px 21px 21px 100px;
    padding: 2rem 2rem 2rem 17rem;
    margin: auto 0;
}

.spotlight-card .featured-image{
    position: absolute;
    left: 0;
    width: 14rem;
    height: 24rem;
    object-fit: cover;
    border-radius: 112px;
    bottom: 50%;
    transform: translateY(50%);
}

.super-container{
    height: 24rem !important;
    display: flex !important;
}

.spotlight-card .btn-white{
    background-color: #fff;
    color: #FF6400;
    border: 2px solid #FF6400;
    text-align: center;
    padding: 15px 30px;
    border-radius: 25px;
    opacity: 1;
    transition: .2s linear;
}

.spotlight-card .btn-white:hover{
    opacity: .7;
}

.spotlight-slider .prev{
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 50%;
    background-color: #FF8D44;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
}

.spotlight-slider .next{
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    transform: translate(50%, -50%);
    color: #fff;
    border-radius: 50%;
    background-color: #FF8D44;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
}

.spotlight-slider .slick-arrow{
    transition: .2s linear;
}

.spotlight-slider .slick-arrow:hover{
    opacity: .7;
}

.spotlight-slider .slick-arrow.slick-disabled{
    background-color: #BEBEBE;
    cursor: default;
    pointer-events: none;
}

.spotlight-slider .slick-dots{
    list-style: none;
    display: flex;
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.spotlight-slider .slick-dots li{
    position: relative;
}

.spotlight-slider .slick-dots li button{
    background-color: transparent;
    border: none;
    color: transparent;
}

.spotlight-slider .slick-dots li::before{
    content: '';
    position: absolute;
    width: .75rem;
    height: .75rem;
    border: 4px solid #BEBEBE;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transition: .2s linear;
}

.spotlight-slider .slick-dots li.slick-active::before, .spotlight-slider .slick-dots li:hover::before{
    border-color: #000;
}

.spotlight-slider--title{
    position: absolute;
    top: -2%;
    margin: 0;
    padding: 0;
    left: 25%;
}

@media (max-width: 767px) {
    .super-container{
        height: 100% !important;
        padding: 2rem 0;
    }

    .spotlight-card{
        border-radius: 0;
        padding: 1rem 1rem 1rem 12rem;
    }
    .spotlight-slider--title{
        position: static;
        text-align: center;
    }

    .spotlight-slider .slick-list{
        overflow: visible;
    }
    .spotlight-card .featured-image{
        width: 11.25rem;
        height: 110%;
    }
    .btn-white{
        position: absolute;
        left: -3rem;
        bottom: -0.5rem;
    }
}