.breadcrumb, .breadcrumb a {
    color: #BEBEBE;
    transition: .2s linear;
}

.breadcrumb a:hover{
    color: #000;
}

.breadcrumb .bstz-home{
    font-size: 12px;
}

.breadcrumb .bstz-double-arrow{
    padding: 0 .5rem;
    font-size: 8px;
}