/* ACF design wp-admin */
.hidden-label .acf-label{
  display: none !important;
}
.menu-item .acf-field .acf-label{
  margin: 0;
}
.menu-item .acf-field label{
  font-size: 13px;
  font-style: italic;
  font-weight: normal !important;
  color: #666;
  margin-bottom: 2px !important;
}
.menu-item .acf-menu-item-fields {
  width: calc(100% - 10px);
}
.menu-item .acf-field.acf-accordion .acf-label.acf-accordion-title{
  padding: 5px;
}
.menu-item .acf-field.acf-accordion .acf-input.acf-accordion-content>.acf-fields.-clear{
  padding: 0 5px 5px
}
.menu-item .acf-fields.-clear>.acf-field{
  margin: 5px 0;
}