/* Add you own font here */

@font-face {
  font-family:"loos-compressed";
  src:url("../fonts/loos-compressed.woff") format("woff");
  font-display:auto;
  font-style:normal;
  font-weight:400;
}

@font-face {
  font-family:"loos-compressed-light";
  src:url("../fonts/loos-compressed-light.woff") format("woff");
  font-display:auto;
  font-style:normal;
  font-weight:200;
}

/* Removes body margin and add site font */

body {
  margin: 0px;
  font-family: loos-compressed, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .7px;
}

p, li{
  letter-spacing: .2px;
  font-family: loos-compressed-light;
}

a {
  text-decoration: none;
}

/* Needed for mobile sidebar  */
.content-container {
  min-width: 100%;
  position: relative;
}

/* Remove default font family in editor  */
html :where(.editor-styles-wrapper) {
  font-family: unset;
}

/* Autmatically make header flex and fetch width from theme.json */
.site-header {
  max-width: var(--wp--custom--header--width);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  overflow: inherit;
}

/* Auto add padding to group block */

.entry-content .wp-block-group, .site-header.wp-block-group, .site-footer.wp-block-group, #editor .wp-block-group {
  padding-top: var(--wp--custom--group--padding-top);
  padding-bottom: var(--wp--custom--group--padding-bottom);
  padding-left: var(--wp--custom--group--padding-left);
  padding-right: var(--wp--custom--group--padding-right);
}

/* Removes auto top margin from first block in editor for the heading or paragraph block */
 
html :where(.editor-styles-wrapper) h1, html :where(.editor-styles-wrapper) h2, html :where(.editor-styles-wrapper) h3, html :where(.editor-styles-wrapper) h4, html :where(.editor-styles-wrapper) h5, html :where(.editor-styles-wrapper) h6 {
  margin: unset;
}

/* Add bottom margin at the bottom of every paragraph or heading and remove default top margin */

p {
  margin-bottom: var(--wp--custom--paragraph--margin-bottom) !important;
  margin-block-start: 0px;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: var(--wp--custom--heading--margin-bottom) !important;
  margin-block-start: 0px;
}

/* Define margin for every list item in theme.json */

ul li {
  margin-bottom: var(--wp--custom--list-item--margin-bottom) !important;
}

/* Float fix for aligning images to the right in the editor */

.wp-block[data-align="right"] {
  float: right;
}

/* Remove Default Margin from column */

.wp-block-columns {
  margin-bottom: 0px;
} 

/* Convert block to full width */

.editor-styles-wrapper .is-root-container .wp-block[data-align="full"], .wp-site-blocks .alignwide {
  max-width: 100vw !important;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
}

/* Inherit content width from theme.json */

.site-footer {
  max-width: var(--wp--custom--footer--width);
  margin-left: auto;
  margin-right: auto;
}

/* Primary and secondary button styles, this can be adjusted in theme.json */

.is-style-btn-primary .wp-block-button__link {
	background-color: var(--wp--custom--button-primary--background-color);
	color: var(--wp--custom--button-primary--color);
  text-align: center;
  padding: var(--wp--custom--button-primary--padding);
  border-radius: var(--wp--custom--button-primary--border-radius);
  opacity: var(--wp--custom--button-primary--opacity);
  transition: .2s linear;
  font-size: 14px;
  letter-spacing: .2px;
}

.is-style-btn-primary .wp-block-button__link:hover {
	background-color: var(--wp--custom--button-primary-hover--background-color);
	color: var(--wp--custom--button-primary-hover--color);
  padding:var(--wp--custom--button-primary-hover--padding);
  border-radius: var(--wp--custom--button-primary-hover--border-radius);
  opacity: var(--wp--custom--button-primary-hover--opacity);
}

.is-style-btn-secondary .wp-block-button__link {
	background-color: var(--wp--custom--button-secondary--background-color);
	color: var(--wp--custom--button-secondary--color);
  text-align: center;
  padding: var(--wp--custom--button-secondary--padding);
  border-radius: var(--wp--custom--button-secondary--border-radius);
  opacity: var(--wp--custom--button-secondary--opacity);
  transition: .2s linear;
  font-size: 14px;
  letter-spacing: .2px;
}

.is-style-btn-secondary .wp-block-button__link:hover {
	background-color: var(--wp--custom--button-secondary-hover--background-color);
	color: var(--wp--custom--button-secondary-hover--color);
  padding:var(--wp--custom--button-secondary-hover--padding);
  border-radius: var(--wp--custom--button-secondary-hover--border-radius);
  opacity: var(--wp--custom--button-secondary-hover--opacity);
}

.wp-site-blocks{
  overflow: hidden;
}

.text-white{
  color: #fff !important;
}

.white-header{
  box-shadow: 0px 2px 20px #0000000B;
  position: fixed;
    top: 32px;
    z-index: 9;
    width: 100%;
}

@media (max-width:772px){
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.75rem;
  }
  h4{
    font-size: 1.55rem;
  }
}