*,
:after,
:before {
  text-rendering: optimizeLegibility;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.wp-admin {
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

body,
html {
  padding: 0 !important;
}

/* Removes body margin */
body {
  margin: 0;
}

/* Needed for mobile sidebar  */
.content-container {
  min-width: 100%;
  position: relative;
}

/* Remove default font family in editor  */
html :where(.editor-styles-wrapper) {
  font-family: unset;
}

/* Autmatically make header flex and fetch width from theme.json */
#header {
  max-width: var(--wp--custom--header--content-size);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  overflow: inherit;
}

.content-holder {
  max-width: var(--wp--custom--content--content-size);
  margin-right: auto;
  margin-left: auto;
}

.wp-bootstrap-blocks-row,.wp-block-wp-bootstrap-blocks-row {
  max-width: var(--wp--custom--content--content-size);
  margin-right: auto !important;
  margin-left: auto !important;
}

/* Auto add padding to group block */
.content-holder .wp-block-group,
#editor .wp-block-group {
  padding-top: var(--wp--custom--group--padding-top);
  padding-bottom: var(--wp--custom--group--padding-bottom);
}

/* Removes auto top margin from first block in editor for the heading or paragraph block */
html :where(.editor-styles-wrapper) h1,
html :where(.editor-styles-wrapper) h2,
html :where(.editor-styles-wrapper) h3,
html :where(.editor-styles-wrapper) h4,
html :where(.editor-styles-wrapper) h5,
html :where(.editor-styles-wrapper) h6 {
  margin: unset;
}

/* Removes default padding from group with background */
.wp-block-template-part.has-background {
  padding: 0px !important;
}

/* Add bottom margin at the bottom of every paragraph or heading and remove default top margin */
p {
  margin-bottom: var(--wp--custom--paragraph--margin-bottom) !important;
  margin-block-start: 0px;
}

h1,
h2,
h3,
h4,
h5, 
h6 {
  margin-bottom: var(--wp--custom--heading--margin-bottom) !important;
  margin-block-start: 0px;
  margin-top: 0px !important;
}

/* Define the color and text decoration of the anchors site wide */
a {
  color: var(--wp--preset--color--primary);
  text-decoration: none;
}

/* Define margin for every list item in theme.json */
ul li {
  margin-bottom: var(--wp--custom--list-item--margin-bottom);
}

/* Float fix for aligning images to the right in the editor */
.wp-block[data-align="right"] {
  float: right;
}

/* Remove Default Margin from column */
.wp-block-columns {
  margin-bottom: 0px;
}

/* Convert block to full width */
.editor-styles-wrapper .is-root-container .wp-block[data-align="full"],
.alignfull {
  max-width: 100vw !important;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
}

/* Inherit content width from theme.json */
.site-footer {
  max-width: var(--wp--custom--footer--content-size);
  margin-left: auto;
  margin-right: auto;
}

/* These classes are used by some plugins, so in case we need them they are here to fall back on. */
small,
.small {
  font-size: 80%;
}
big,
.big {
  font-size: 120%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

.wp-site-blocks{
  overflow: hidden;
}

.text-white{
  color: #fff !important;
}

.white-header{
  box-shadow: 0px 2px 20px #0000000B;
  position: fixed;
    top: 32px;
    z-index: 9;
    width: 100%;
}

@media (max-width:772px){
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.75rem;
  }
  h4{
    font-size: 1.55rem;
  }
}

.unstyled-list {
  list-style: none !important;
  padding-left: 0px !important;
}

ul li .bstz-check {
  color:#FF6400;
}