/* Product Block */

.product-card {
    background-color:#f5f5f5;
    border-radius: 8px;
}

.product-card .onsale {
    position: absolute;
    right: 30px;
    top: 20px;
    padding: 7px 10px;
    border-radius: 5px;
    background-color: #009fa2;
    color: #ffffff;
}

.product-card img {
    max-height: 236px;
}

.product-card h2 {
    color:#1C0000;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.product-card ul {
    padding-left: 20px;
    color:#000000;
    font-size: 14px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.product-card .read-more {
    font-size: 14px;
}

.product-card .read-more i {
    font-size: 10px;
}

.product-card .product-image {
    text-align: center;
    height: 178px;
    position: relative;
}

.product-card .product-image img {
    width: auto;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.product-card .hover-effect {
    background-color:#f5f5f5;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.product-card:hover .hover-effect {
    background-color:#009fa2;
}

.product-card:hover h2 {
    color:#ffffff;
}

.product-card:hover ul {
    color:#ffffff;
}

.product-card:hover .read-more {
    color:#ffffff;
}

.product-card .cart i {
    font-size: 18px;
}

/* Check-out */

.woocommerce-input-wrapper {
    width: 100%;
}

.payment_box {
    padding-left: 1.5rem;
}