
.teacher-information--image img {
    height: calc(100% + 150px);
    object-fit: cover;
    border-radius: 150px;
    max-width: 100%;
    margin-top:-75px;
    margin-bottom:-75px;
}

.teacher-information--name {
    color:#FF6400;
}

@media (max-width: 772px) {
    .teacher-information--image img {
        min-height: 400px;
        max-height: 400px;
        object-fit: cover;
        width: auto;
        max-width: 100%;
        margin-top:unset;
        margin-bottom: 50px;
    }    
}