.training-card {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 20px #0000000F;
    border-radius: 21px;
    overflow: hidden;
    transition: .2s linear;
}

.training-card:hover{
    box-shadow: 0px 2px 20px #bdbdbd;
}

.training-card--image {
    height: 235px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.training-card--bottom img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    margin: auto .5rem auto 0;
}

.training-card--play-button {
    background-image: url('https://boostznl-w107c2.preview.wpmanaged.nl/wp-content/uploads/2021/11/Play-button@2x.png');
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background-size: contain;
    z-index: 9;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.training-card--bottom p {
    width: 100px;
    line-height: 1;
}

.training-card p, .training-card h6 {
    color: #000;
}

.course {
    padding: 0 !important;
    border-bottom: none !important;
}

.training-card i {
    width: 36px;
    font-size: 10px;
    padding-left: 0.2rem;
    margin: auto;
}

.training-slider .slick-list {
    padding-top: 1rem;
    padding-right: 6.5rem;
    margin-right: -6.5rem;
    padding-left: 6.5rem;
    margin-left: -6.5rem;
    padding-bottom: 1.5rem;
    position: relative;
    z-index: 1;
}

.training-query ul.slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.training-query ul.slick-dots button {
    border: none;
    background-color: transparent;
    font-family: loos-compressed;
    transition: .2s linear;
    font-size: 14px;
    cursor: pointer;
}

.training-query ul.slick-dots button:hover, .training-query ul.slick-dots .slick-active button {
    color: #FF6300;
    text-decoration: underline;
}

.training-query ul.slick-dots li {
    margin: auto .5rem;
}

.training-query .slick-arrow {
    transition: .2s linear;
    cursor: pointer;
}

.training-query .slick-arrow.slick-disabled, .training-query .slick-arrow.slick-disabled:hover {
    color: #BEBEBE;
    border-color: #BEBEBE;
    cursor: default;
}

.training-query .slick-arrow:hover {
    color: #FF6300;
    border-color: #FF6300;
}

.training-query i.next, .training-query i.prev {
    font-size: 10px;
    margin: auto .5rem;
    border: 2px solid #000;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 25px;
}

.cat-filter span {
    color: #FF6300;
    transition: .2s linear;
    border-radius: 13px;
    padding: 0.25rem 1rem;
    cursor: pointer;
    margin-right: .5rem;
}

.cat-filter span.active{
    color: #fff;
    background-color: #FF6300;
    pointer-events: none;
    cursor: default;
}

.cat-filter span:hover{
    color: #fff;
    background-color: #FF6300;
}

.training-card--course-type {
    position: absolute;
    z-index: 9;
    right: .5rem;
    top: .5rem;
    background-color: #fff;
    border-radius: 9px;
    padding: .2rem 1rem;
    font-size: 10px;
}

.ajax-response .slick-slide{
    transition: opacity .2s linear;
}

.ajax-fade{
    opacity: .3;
}

.slick-dots.ajax-fade, .ajax-fade a, .cat-filter.ajax-fade{
    cursor: default;
    pointer-events: none;
}

/* HTML spinner */
.html-spinner {
    width: 75px;
    height: 75px;
    border: 8px solid rgba(255, 134, 28, 0.2);
    border-top: 8px solid #FF6300;
    border-radius: 50%;
}
  
.spinner-pos {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9;
    transition: 0.5s;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.html-spinner {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    transition-property: transform;
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 772px){
    .cat-filter{
        flex-wrap: wrap;
        justify-content: center;
    }
    .cat-filter span {
        margin-right: 0;
    }

    .training-query ul.slick-dots li{
        margin: auto 0.2rem;
    }
}

.training-slider .slick-dots li {
    display: none;
}

.training-slider .slick-dots li.slick-active,
.training-slider .slick-dots li.slick-active + li,
.training-slider .slick-dots li.slick-active + li + li,
.training-slider .slick-dots li.slick-active + li + li + li, 
.training-slider .slick-dots li.slick-active + li + li + li + li,
.training-slider .slick-dots li.slick-active + li + li + li + li + li{
    display: inline-block !important;
}

.training-slider .slick-dots li:nth-last-child(2),
.training-slider .slick-dots li:nth-last-child(3),
.training-slider .slick-dots li:nth-last-child(4),
.training-slider .slick-dots li:nth-last-child(5),
.training-slider .slick-dots li:nth-last-child(6),
.training-slider .slick-dots li:nth-last-child(7){
    display: inline-block;
}

.training-slider .slick-dots li.slick-active ~ li:nth-last-child(2),
.training-slider .slick-dots li.slick-active ~ li:nth-last-child(3),
.training-slider .slick-dots li.slick-active ~ li:nth-last-child(4),
.training-slider .slick-dots li.slick-active ~ li:nth-last-child(5),
.training-slider .slick-dots li.slick-active ~ li:nth-last-child(6),
.training-slider .slick-dots li.slick-active ~ li:nth-last-child(7){
    display: none;
}

.training-slider .slick-dots li.slick-active + li + li:nth-last-child(7),
.training-slider .slick-dots li.slick-active + li + li:nth-last-child(6),
.training-slider .slick-dots li.slick-active + li + li:nth-last-child(5),
.training-slider .slick-dots li.slick-active + li + li:nth-last-child(4),
.training-slider .slick-dots li.slick-active + li + li:nth-last-child(3),
.training-slider .slick-dots li.slick-active + li + li:nth-last-child(2),
.training-slider .slick-dots li.slick-active + li:nth-last-child(7),
.training-slider .slick-dots li.slick-active + li:nth-last-child(6),
.training-slider .slick-dots li.slick-active + li:nth-last-child(5),
.training-slider .slick-dots li.slick-active + li:nth-last-child(4),
.training-slider .slick-dots li.slick-active + li:nth-last-child(3),
.training-slider .slick-dots li.slick-active + li:nth-last-child(2){
    display: inline-block;
}